

  <h1 class="bg-dark text-white p-1 mb-2 col-12" data-bs-toggle="collapse" data-bs-target="#addTask" aria-controls="addTask" aria-expanded="false" aria-label="Toggle navigation" onclick="function(){alert('Hola')}">
    {{#if task }}
      Edit task
    {{else}}
      Add task
    {{/if}}
  </h1>

<div class="navbar-expand-md">
  <div 
    {{#if task }}
    {{else}}
      class="collapse navbar-collapse" id="addTask"
    {{/if}}
  >    
  
    <form action="{{#if task }}/tasks/{{task._id}}/update{{else}}/tasks/save{{/if}}" method="post">
    
      <div class="card m-1" >

        <div class="card-header">
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            placeholder="Input a title..."
            {{#if task}}
              value="{{task.title}}"
            {{/if}}
            required
          />
        </div>

        <div class="card-body">
          <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="Input a description..."
            required
          >{{#if task }}{{task.description}}{{/if}}</textarea>

        </div>
        <div class=" d-flex justify-content-between m-2">
          <div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="">
              <button class="btn btn-success" type="submit">
                {{#if task }}
                  Update
                {{else}}
                  Add
                {{/if}}
              </button>
              {{#if task }}
                <a 
                  href="/" 
                  class="btn btn-secondary">Cancelar</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

    </form>
  
  </div>

</div>

